:root {
  --main-page-padding: 0 3em 0 3em;
  --block-strategy-color: #BB4C38;
  --track-strategy-color: #DEAB77;
  --goal-strategy-color: #285FA0;
  --reward-strategy-color: #93B77F;
}


/* hide the anchor hash that rmarkdown adds */
.anchor-section {
  display: none;
}

.header-container .navbar {
    background-color: white !important;
    border-bottom: 1px solid rgba(0,0,0,0.2)
}
.header-container .navbar-nav a.nav-link.active {
  /*border-bottom: 1px dashed rgba(0,0,0,0.2);*/
  padding-bottom: 0;
  font-weight: 400;
}

/* style the appearance and disappearance of the header */
.headroom {
    will-change: transform;
    transition: transform 250ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}

.navbar-nav a {
  color: black !important;
}

.navbar-hide {
    top: -56px;
}



/* font */
body {
  /*font-family: 'Open Sans', "Muli", "Helvetica Neue", helvetica, arial, sans-serif;*/
  font-family: "Muli", "Helvetica Neue", helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: 300;
}
h1, h2, h3, h4 {
  font-weight: 300;
}
h5 {
  font-weight: 400;
}

h3 {
  font-size: 1.75em;
}
body .main-container p {
  font-size: 1em;
  line-height: 170%; 
}

code {
  font-family: Consolas, Courier, "Courier New", 'STKaiti', 'KaiTi', 'SimKai', monospace;
  /*background: #f9f9f9;*/
  color: black;
}

/**** HYPERLINKS ******/
/* by default black, underlined and no line on hover */
a {
  color: black;
  border-bottom: 1px solid lightgray;
}
a:hover {
  text-decoration: none;
  color: black;
  border-bottom: none;
}

/* for these, don't have them underline, but make them lighter on hover */
.posts-sidebar a,
.blog-post #toc a,
.featured-work-entry .teaser a,
.pub-title a,
.blog-title a,
.cv-navbar a,
.navbar a,
.link-wrapper a,
a.email,
.project-work-entry-title a {
  border-bottom: none;
  opacity: 1.0;
  color: black;
}
.posts-sidebar a:hover,
.pub-title a:hover,
.blog-title a:hover,
.navbar a.nav-link:hover,
a.email:hover,
.row.project-entries .project-work-entry-title a:hover {
  /*text-decoration: underline;*/
  color: black;
  opacity: 0.65;
}


/* NAVBAR */
.navbar-brand {
  font-size: 2.3em;
  font-weight: 200;
  color: #777 !important;
  line-height: 20px;
}
/* push content down below the sticky navbar */
.main-container {
  padding-top: 7.5em;
}


blockquote p {
  font-style: italic;
}

blockquote p.quote-footer {
  text-align: right;
}


/* footer */
footer {
  margin-top: 3em;
  margin-bottom: 3em;
}

footer hr {
  border-top: 1px solid rgba(0,0,0,0.1);
}


/***** NEW FOR REDD ******/
/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(142, 145, 149, 0.7);
  padding: 5px;
  border-radius: 2px;
  font-size: 1.7em;
  font-style: bold;
}

.bottom-site-footer {
  text-align: center;
}

.fa-play-circle {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.solution-package-image {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-top: 0.5em;
}

.jumbotron {
  background-image: url("/images/digi-distraction.jpg");
  box-shadow:inset 0 0 0 2000px rgba(142, 145, 149, 0.5);
  height: 300px; /* You must set a specified height */
  background-position: 0% 8%; 
  background-size: cover; /* Resize the background image to cover the entire container */
}

.jumbotron h1 {
  color: white; 
  /*background-color: rgba(142, 145, 149, 0.7);*/
  margin: auto;
}

.card {
  border: none;
}



/* FRONT PAGE */
.callout button,
.callout a {
  padding: 1em;
  margin-top: 1em;
}
.callout {
  margin: 3em 0 3em 0;
}

.project-info {
  margin-bottom: 4em;
}
.solution-packages {
  margin-bottom: 4em;
}

.what-people-say {
  margin-bottom: 4em;
}

.team img {
  object-fit: cover;
  height: 225px;
}
.team {
  margin-bottom: 3em;
}

.sponsors {
  margin-bottom: 3em;
}
.sponsors img {
  height: 225px;
  object-fit: contain;
}

/* STRATEGIES PAGE */

/* style floating TOC */
.strategy-page a.nav-link {
  border-bottom: none;
}

#toc .nav-link {
  padding-left: 0.1em;
}
.sticky-top {
  top: 55px;
}

.strategy-class {
  margin-bottom: 3em;
}

.tool-title {
  font-weight: bold;
  font-size: 1.2em;
  
}

.strategy-page .top-matter {
  margin-bottom: 1em;
}

.strategy-tool {
  display: none;
}
.strategy-tool.mac-show,
.strategy-tool.pc-show,
.strategy-tool.android-show,
.strategy-tool.ios-show,
.strategy-tool.chrome-show,
.strategy-tool.firefox-show,
.strategy-tool.safari-show {
  display: flex;
}
.tool-filters {
  margin-bottom: 2em;
}
.tool-filters label {
  padding-left: 0.3em;
}

.strategy-type .arrow {
  position: relative;
  left: 50%;
  margin-left: -20px;
  width: 0;
  height: 0;
  border-left: solid 20px transparent;
  border-right: solid 20px transparent;
  display: none;
}
.strategy-type .arrow.block_or_remove_distractions {
  border-top: solid 20px var(--block-strategy-color);
}
.strategy-type .arrow.track_yourself {
  border-top: solid 20px var(--track-strategy-color);
}
.strategy-type .arrow.keep_your_goals_in_mind {
  border-top: solid 20px var(--goal-strategy-color);
}
.strategy-type .arrow.make_intended_use_rewarding {
  border-top: solid 20px var(--reward-strategy-color);
}

.strategy-type .arrow.highlight-this {
  display: block;
}

.strategy-type-tools {
  /*border-left: 2px solid lightgrey;*/
  margin-bottom: 5em;
  margin-left: 2em;
  margin-top: 4em;
}
.strategy-type-tools.block_or_remove_distractions {
  border-left: 1px dashed var(--block-strategy-color);  
}
.strategy-type-tools.track_yourself {
  border-left: 1px dashed var(--track-strategy-color);
}
.strategy-type-tools.keep_your_goals_in_mind {
  border-left: 1px dashed var(--goal-strategy-color);
}
.strategy-type-tools.make_intended_use_rewarding {
  border-left: 1px dashed var(--reward-strategy-color);
}



.tool-label-laptop,
.tool-label-smartphone,
.tool-label-browser {
  border-radius: 2px;
  color: white;
  font-family: nyt-franklin, arial, sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  padding: 4px 6px 2px 7px;
  margin-right: 1px;
  font-weight: 600;
}
.tool-label-laptop {
  background-color: #aaaaaa;
}
.tool-label-smartphone {
  background-color: #75acc8;
}
.tool-label-browser {
  background-color: #719d94;
}




.strategy-tool {
  margin: 0em 4em 3em 1em;
  padding-left: 2em;
}

.highlight-this .card-body {
  border-bottom: 4px solid var(--block-strategy-color);
}
.track_yourself .highlight-this .card-body {
  border-bottom: 4px solid var(--track-strategy-color);
}
.keep_your_goals_in_mind .highlight-this .card-body {
  border-bottom: 4px solid var(--goal-strategy-color);
}
.make_intended_use_rewarding .highlight-this .card-body {
  border-bottom: 4px solid var(--reward-strategy-color);
}

.strategy-type img {
  height: 200px;
  object-fit: scale-down;
}
.strategy-type {
  padding: 0 1em;
}

.strategy-class h1 {
  margin-bottom: 0.9em;
  padding-bottom: 0.1em;
  font-weight: bold;
  font-size: 3em;
}
.block_or_remove_distractions h1 {
  border-bottom: 3px solid #BB4C38;
}
.track_yourself h1 {
  border-bottom: 3px solid #DEAB77;
}
.keep_your_goals_in_mind h1 {
  border-bottom: 3px solid #285FA0;
}
.make_intended_use_rewarding h1 {
  border-bottom: 3px solid #93B77F;
}

.strategy-type img {
  padding: 1.25rem;
}

.card-body button {
  background-color: #eeeeee;
  color: #555555;
  border: none;
}
.card-body button:hover {
  background-color: #BB4C38;
}

/* RESEARCH PAGE */

.take-part {
  margin-top: 3em;
}

.take-part-buttons {
  margin: 3em 0 3em 0;
}

.take-part-buttons button {
  padding: 1em;
}

.research-so-far {
  margin-top: 5em;
}

.research-entry {
  margin-bottom: 3em;
}

.research-topic-publications {
  padding: 1em 1em 1em 5em;
}

.research-topic-publications p {
  padding: 0;
  margin: 0;
}


/* RESOURCES PAGE */
.resource-entries thead {
  display: none;
}
.resource-entries .resource-title {
  font-weight: bold;
}
.resource-entries td {
  vertical-align: top;
  padding-right: 2.5em;
  padding-bottom: 1em;
}
.resource-entries td:nth-child(1) {
  width: 45%;
}
.resource-entries td:nth-child(2) {
  width: 28%;
}
.type-heading {
  margin-top: 2em;
}

.topic-group {
  margin-top: 0.5em;
  margin-bottom: 2em;
}



/* ABOUT PAGE */
.entry-small {
  font-size: 1.3em;
}


.timeline {
  /* draw timeline bar in the middle of div */
  background: linear-gradient(#000, #000) no-repeat center/2px 98%;
  max-width: 600px;
  margin: 3em auto;
}

.timeline .arrow {
  position: relative;
  left: 50%;
  margin-left: -13px;
  width: 0;
  height: 0;
  border-top: solid 13px black;
  border-left: solid 13px transparent;
  border-right: solid 13px transparent;
}

.dot.entry-big {
  height: 20px;
  width: 20px;
  border: 4px solid black;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}
.dot.entry-small {
  height: 10px;
  width: 10px;
  border: 5px solid black;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}

.faq {
  margin-top: 8em;
  margin-bottom: 7em;
}
.faq-question {
  margin-top: 1em;
}